<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AncunFramework.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C9AAFE8D1C321B7F0007183B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C9AAFEA61C321B7F0007183B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C9AAFEB11C321B7F0007183B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
