<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>浏览设置</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>正文字体大小</string>
			<key>Key</key>
			<string>settings_front_size</string>
			<key>DefaultValue</key>
			<string>3</string>
			<key>Values</key>
			<array>
				<string>1</string>
				<string>2</string>
				<string>3</string>
				<string>4</string>
				<string>5</string>
			</array>
			<key>Titles</key>
			<array>
				<string>超小</string>
				<string>小</string>
				<string>中</string>
				<string>大</string>
				<string>超大</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>列表自动载入更多</string>
			<key>Key</key>
			<string>settings_auto_load_more</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>更新设置</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>自动下载图片</string>
			<key>Key</key>
			<string>settings_auto_download_pic</string>
			<key>DefaultValue</key>
			<string>1</string>
			<key>Titles</key>
			<array>
				<string>任何时候</string>
				<string>WiFi可用时</string>
				<string>3G可用时</string>
			</array>
			<key>Values</key>
			<array>
				<string>1</string>
				<string>2</string>
				<string>3</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>下次启动清除列表缓存</string>
			<key>Key</key>
			<string>settings_next_start_clear_list_cache</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>下次启动清除图片缓存</string>
			<key>Key</key>
			<string>settings_next_start_clear_pic_cache</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>关于</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>版本</string>
			<key>Key</key>
			<string>settings_version</string>
			<key>DefaultValue</key>
			<string>1.0.1</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
